aiohttp==3.7.4.post0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==3.0.4
comtypes==1.1.10
DateTime==4.3
discord-py-slash-command==2.3.1
discord.py==1.7.3
dislash.py==1.2.3
Django==3.2.5
google==3.0.0
google-trans-new==1.1.9
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.7.5
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
MouseInfo==0.1.3
multidict==5.1.0
Pillow==8.3.1
PyAudio @ file:///C:/Users/Nacho/Downloads/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.27
python-dotenv==0.18.0
pyttsx3==2.90
PyTweening==1.0.3
pytz==2021.1
pywhatkit==5.0
pywin32==301
requests==2.25.1
rfc3986==1.5.0
sniffio==1.2.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
wikipedia==1.4.0
yarl==1.6.3
youtube-dl==2021.6.6
zope.interface==5.4.0
